services:
  - type: web
    name: telegram-analytic-bot
    runtime: python
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        fromSecret: TELEGRAM_BOT_TOKEN
      - key: SUPABASE_URL
        fromDatabase:
          name: supabase-db
          property: url
      - key: SUPABASE_KEY
        fromDatabase:
          name: supabase-db
          property: anon-key
      - key: REPORT_CHANNELS
        value: "@finanosint,@time_n_John"
      - key: BING_NEWS_API_KEY
        fromSecret: BING_NEWS_API_KEY
    buildCommand: "pip install --upgrade pip && pip install -r requirements.txt"
    startCommand: "python main.py"
